<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
    <table>
        <tr>
            <td><label for="name">Name:</label>
            </td>
            <td>
                <p id="name" th:text="${human.Name}"></p>
            </td>
        </tr>
        <tr>
            <td><label for="surname">Surname:</label>
            </td>
            <td>
                <p id="surname" th:text="${human.Surname}"></p>
            </td>
        </tr>
        <tr>
            <td><label for="patronymic">Patronymic:</label>
            </td>
            <td>
                <p id="patronymic" th:text="${human.Patronymic}"></p>
            </td>
        </tr>
        <tr>
            <td><label for="phone">Phone:</label>
            </td>
            <td>
                <p id="phone" th:text="${human.Phone}"></p>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email:</label>
            </td>
            <td>
                <p id="email" th:text="${human.Email}"></p>
            </td>
        </tr>
        <tr>
            <td><label for="linkToBlog">LinkToBlog:</label>
            </td>
            <td>
                <p id="linkToBlog" th:text="${human.LinkToBlog}"></p>
            </td>
        </tr>
        <tr>
            <td><label for="note">Note:</label>
            </td>
            <td>
                <p id="note" th:text="${human.Note}"></p>
            </td>
        </tr>
    </table>
<a href="/book/main">to address book</a>
</body>
</html>